@import '../../styles/variables.module.scss';
@import '../../styles/mixin.module.scss';

.container {
  position: relative;
  width: 100vw;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 3vh;
  padding-bottom: 3vh;

  padding-left: 10vw;
  padding-right: 10vw;
}

.main {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.grid {
  position: relative;

  display: grid;
  gap: 1rem;
  width: 100%;
  height: 50vh;

  @include m {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }

  &_col_span_2 {
    @include m {
      grid-column: span 2;
    }
  }
}

.block {
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include m {
    &:last-child {
      grid-column-start: 4;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}
