@import "../../styles/variables.module.scss";
@import "../../styles/mixin.module.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;

  height: 9rem;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  padding: 3rem 5rem;
}

.button {
  padding: 0;
  background-color: transparent;
  margin: 0;
  border: none;

  position: relative;
  height: 3rem;
  width: 3rem;

  & svg {
    & path {
      stroke: $paragraphFontColor;
    }
  }
}
