@import '../../styles/variables.module.scss';
@import '../../styles/mixin.module.scss';

.container {
  position: relative;
  width: 100vw;
  background-color: white;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 3vh;
  padding-bottom: 3vh;

  padding-left: 10vw;
  // padding-right: 10vw;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  & p {
    color: black;
  }
}

.main {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  margin-top: 5rem;
}

.grid {
  display: grid;
  height: 70vh;
  width: 100%;
  grid-template-columns: 30% 1fr;

  & p {
    color: black;
  }
}

.content {
  padding-right: 5vw;
}

.menu {
  list-style: none;
  height: 100%;
  width: 70%;

  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    margin-top: 1rem;
    margin-bottom: 1rem;
    & p {
      font-size: 2rem;
      padding-top: 1rem;
      margin: 0;
    }

    & img {
      height: 2rem;
    }
  }
}

.gallery {
  position: relative;
  width: 100%;
  height: 80%;
  overflow-x: auto;

  background-color: #e6e1d9;
  border: 0.1rem solid black;
  border-radius: 2rem 0 0 2rem;

  &::-webkit-scrollbar {
    display: none;
  }

  & ul {
    display: flex;
    flex-direction: row;
    height: 80%;
    margin: 0;

    & li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 100%;
      padding-top: 5vh;

      margin-left: 5rem;
      margin-right: 5rem;

      & img {
        margin-bottom: 2rem;
        width: 15vw;
      }

      & div {
        padding-right: 10%;

        & p {
          font-family: 'Hoefler';
          font-size: 2rem;
          text-align: left;
          height: 5vh;
        }
      }
    }
  }
}

.scrollbar {
  position: absolute;
  bottom: 10vh;
  left: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_track {
    display: block;
    position: absolute;

    height: 0.7rem;
    width: 30vw;

    background-color: black;
  }

  &_thumb {
    display: block;
    position: absolute;
    height: 2rem;
    width: 4rem;
    background-color: black;
    outline: none;
    border: none;
  }
}
