@import "../styles/variables.module.scss";
@import "../styles/mixin.module.scss";

.container {
  position: relative;
  width: 100vw;
  // height: 100vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  color: black;
  font-size: 5rem;
  font-family: $fontSemibold;
}

.text {
  color: black;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: $fontRegular;
}

.link {
  color: black;
  text-align: center;

  text-decoration: none;

  &:hover {
    & svg {
      & path {
        transition: all 0.5s ease;
        fill: grey;
      }
    }
  }

  & svg {
    & path {
      transition: all 0.5s ease;
      fill: black;
    }
  }
}
