@import "../styles/variables.module.scss";
@import "../styles/mixin.module.scss";

.container {
  position: relative;

  background-color: $backgroundColor;
  min-height: 100vh;
  width: 100%;

  padding-top: 10vh;
}

.main {
  position: relative;
  width: 100vw;
  min-height: 20vh;

  padding: 5vh 10vw;
}

.title {
  color: black;
  font-size: 5rem;
}

.text {
  color: black;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.actionBar {
  width: 100%;
  padding: 2rem;
}
