$primary-color: #64ff00;
$font-black: black;
$font-white: white;
$dim-grey: #797369;

$screen-xs: 320px;
$screen-s: 480px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1200px;

:export {
  primaryColor: $primary-color;
  screenXS: $screen-xs;
  screenS: $screen-s;
  screenM: $screen-m;
  screenL: $screen-l;
  screenXL: $screen-xl;
}
